*.vsix
**/.vscode-test/**
**/node_modules/**
**/.git/**
.gitignore
.yarnrc
.eslintrc.json
**/.eslintrc.json
**/*.map
**/*.ts
!**/*.d.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/.vscode-test.mjs
**/.vscode/**
!**/.vscode/extensions.json
!**/.vscode/launch.json
**/.vscode/settings.json
src/**
test-roast.ts
.editorconfig
